/* Coolors Exported Palette - coolors.co/222831-b3001b-255c99-7ea3cc-ccad8f */

/* HSL */
$color1: hsla(216%, 18%, 16%, 1);
$color2: hsla(351%, 100%, 35%, 1);
$color3: hsla(212%, 61%, 37%, 1);
$color4: hsla(212%, 43%, 65%, 1);
$color5: hsla(30%, 37%, 68%, 1);

/* RGB */
$color1: rgba(34, 40, 49, 1);
$color2: rgba(179, 0, 27, 1);
$color3: rgba(37, 92, 153, 1);
$color4: rgba(126, 163, 204, 1);
$color5: rgba(204, 173, 143, 1);